
<!DOCTYPE html>
<html lang="en" data-dark="false">
  {% include homehead.html %}
  <body>
    {% include header.html %}
    <script src="_scripts/ideal-image-slider.js"></script>
<div id="slider">
	<img src="images/carousel/1.jpg">
  <img data-src="images/carousel/2.jpg">
  <img data-src="images/carousel/3.jpg">
  <img data-src="images/carousel/4.jpg">
</div>

<script>
var slider = new IdealImageSlider.Slider({
	selector: '#slider',
	height: 'auto', // Required but can be set by CSS
	interval: 4000
});
slider.start();
</script>

    <main>
      {% include content.html content=content %}
    </main>
    {% include footer.html %}
  </body>
</html>
